.wall *, *:before, *:after {
    box-sizing: border-box;
}

.wall .infomation p {
    font-size: 82%;
    margin: 13.12px 0;
}

.wall .infomation {
	padding-left: 170px;
	padding-top: 0.02px;
}

.wall .cover {
	float: left;
}

.wall .head {
	margin-bottom: 30px;
}

.wall .post {
    padding-bottom: 30px;
    margin-top: 0px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e8e8e8;
}

.wall .card {
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}

.wall article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}

@media screen and (max-width: 800px)
.wall .container {
    max-width: -webkit-calc(800px - (30px));
    max-width: calc(800px - (30px));
    padding-right: 15px;
    padding-left: 15px;
}

.wall .container {
    max-width: -webkit-calc(1000px - (30px * 2));
    max-width: calc(1000px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}

.wall h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 1em;
    margin: 0 0 0.8em 0;
}

.wall body, input, select, textarea {
    color: #404040;
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif;;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}

.wall body {
    background-color: #ebebeb;
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif;;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: .01em;
}
