---
title: Wall
layout: default
description: 
header-img: "img/tag-bg.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="wall">
	<article class="post card container">
		<header class="post-header">
			<h1 class="post-link">&lt; Lotta Sea Lice &gt;<i> - Courtney Barnett / Kurt Vile</i></h1>
		</header>
		<div class="head">
			<div class="cover">
				<img src="https://img.discogs.com/GKcxz9WtoRwJhhhdOJa5ebp0yEg=/fit-in/600x605/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-10984010-1508245625-1833.jpeg.jpg" height="150px">
			</div>
			<div class="infomation">
				<p>Released: 2017.10.13<br>
				Label: Matador<br>
				Country: US<br>
				Genre: Rock, Folk, World, & Country<br>
				Style: Indie Rock, Folk Rock<br>
				Pitchfork: 7.6/10.0</p>
			</div>
		</div>
		<div class="post-content">
			<p><b><i>Splitmusic</i>：</b>Courtney Barnett 与 Kurt Vile 的合作交出的作品就像所有人期待的那样美好。用”Continental breakfast”这个词来形容这两个从某种意义上称得上“自我”的创作者的合作再适合不过。整首曲子他们以一种慵懒而又诚恳的表达，一一讲述关于创作的细节：时而灵感枯竭的苦恼、情绪化、起起落落又欲言又止。至于吉他，几乎就是“Barnett & Vile style”的吉他了，十足流畅，恰当湿度和混响带来的空间感，这是他们二人一直以来所擅长的。</p>
		</div>
		<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=530 height=360 src="//music.163.com/outchain/player?type=1&id=36275024&auto=1&height=430"></iframe>
	</article>

	<article class="post card container">
		<header class="post-header">
			<h1 class="post-link">&lt; Masseduction &gt;<i> - St. Vincent</i></h1>
		</header>
		<div class="head">
			<div class="cover">
				<img src="https://img.discogs.com/UYW7Z0Kg_Y8fsu5sYt-361T13n0=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-10984551-1507827169-7791.jpeg.jpg" height="150px">
			</div>
			<div class="infomation">
				<p>Released: 2017.10.13<br>
				Label: Loma Vista<br>
				Country: US<br>
				Genre: Rock<br>
				Style: Indie Rock<br>
				AllMusic: 9.0/10.0</p>
			</div>
		</div>
		<div class="post-content">
			<p><b><i>Splitmusic</i>：</b>相比于三年前，安姨今年新专给人的感觉是：线条柔和、少了几分独有的空旷感却多了一些温度。虽然喜欢&lt;Digital Witness&gt;里十足的实验味道和有些张牙舞爪的姿态，但不得不承认在&lt;Happy Birthday ,johnny&gt;和&lt;New York&gt;里，我看见了一个更舒适，更自我的安姨。以及，一贯的高度词曲融合让新专依旧出彩。</p>
		</div>
		<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=530 height=360 src="//music.163.com/outchain/player?type=1&id=36275024&auto=1&height=430"></iframe>
	</article>
</div>
