---
title: Wall
layout: default
description: 
header-img: ""
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="wall">
	<section class="cf w-100 pa2-ns">
	  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
	    <div class="aspect-ratio aspect-ratio--1x1">
	      <img style="background-image:url(http://splitmusic.cn/collections/img/Mount%20Kimbie%20%E2%80%8E–%20Love%20What%20Survives.jpg);" 
	      class="db bg-center cover aspect-ratio--object" />
	    </div>
	    <a href="#0" class="ph2 ph0-ns pb3 link db">
	      <h3 class="f5 f4-ns mb0 black-90">Love What Survives</h3>
	      <h3 class="f6 f5 fw4 mt2 black-60">Mount Kimbie</h3>
	    </a>
	  </article>
	  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
	    <div class="aspect-ratio aspect-ratio--1x1">
	      <img style="background-image:url(http://splitmusic.cn/collections/img/Brockhampton%20%E2%80%8E–%20Saturation%20III.jpg);" 
	      class="db bg-center cover aspect-ratio--object" />
	    </div>
	    <a href="#0" class="ph2 ph0-ns pb3 link db">
	      <h3 class="f5 f4-ns mb0 black-90">Saturation III</h3>
	      <h3 class="f6 f5 fw4 mt2 black-60">Brockhampton</h3>
	    </a>
	  </article>
	  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
	    <div class="aspect-ratio aspect-ratio--1x1">
	      <img style="background-image:url(http://splitmusic.cn/collections/img/Brockhampton%20%E2%80%8E–%20Saturation%20II.jpg);" 
	      class="db bg-center cover aspect-ratio--object" />
	    </div>
	    <a href="#0" class="ph2 ph0-ns pb3 link db">
	      <h3 class="f5 f4-ns mb0 black-90">Saturation II</h3>
	      <h3 class="f6 f5 fw4 mt2 black-60">Brockhampton</h3>
	    </a>
	  </article>
	  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
	    <div class="aspect-ratio aspect-ratio--1x1">
	      <img style="background-image:url(http://splitmusic.cn/collections/img/Brockhampton%20%E2%80%8E–%20Saturation.jpg);" 
	      class="db bg-center cover aspect-ratio--object" />
	    </div>
	    <a href="#0" class="ph2 ph0-ns pb3 link db">
	      <h3 class="f5 f4-ns mb0 black-90">Saturation</h3>
	      <h3 class="f6 f5 fw4 mt2 black-60">Brockhampton</h3>
	    </a>
	  </article>
	  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
	    <div class="aspect-ratio aspect-ratio--1x1">
	      <img style="background-image:url(http://splitmusic.cn/collections/img/Charlotte%20Gainsbourg%20%E2%80%8E–%20Rest.jpg);" 
	      class="db bg-center cover aspect-ratio--object" />
	    </div>
	    <a href="#0" class="ph2 ph0-ns pb3 link db">
	      <h3 class="f5 f4-ns mb0 black-90">Rest</h3>
	      <h3 class="f6 f5 fw4 mt2 black-60">Charlotte Gainsbourg</h3>
	    </a>
	  </article>
	  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
	    <div class="aspect-ratio aspect-ratio--1x1">
	      <img style="background-image:url(http://splitmusic.cn/collections/img/Yellow%20Magic%20Orchestra%20%E2%80%8E–%20Yellow%20Magic%20Orchestra.jpg);" 
	      class="db bg-center cover aspect-ratio--object" />
	    </div>
	    <a href="#0" class="ph2 ph0-ns pb3 link db">
	      <h3 class="f5 f4-ns mb0 black-90">Yellow Magic Orchestra</h3>
	      <h3 class="f6 f5 fw4 mt2 black-60">Yellow Magic Orchestra</h3>
	    </a>
	  </article>
	  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
	    <div class="aspect-ratio aspect-ratio--1x1">
	      <img style="background-image:url(http://splitmusic.cn/collections/img/Yellow%20Magic%20Orchestra%20%E2%80%8E–%20Solid%20State%20Survivor.jpg);" 
	      class="db bg-center cover aspect-ratio--object" />
	    </div>
	    <a href="#0" class="ph2 ph0-ns pb3 link db">
	      <h3 class="f5 f4-ns mb0 black-90">Solid State Survivor</h3>
	      <h3 class="f6 f5 fw4 mt2 black-60">Yellow Magic Orchestra</h3>
	    </a>
	  </article>
	  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
	    <div class="aspect-ratio aspect-ratio--1x1">
	      <img style="background-image:url(http://splitmusic.cn/collections/img/杨乐%20%E2%80%8E–%20自言自语（下）.jpg);" 
	      class="db bg-center cover aspect-ratio--object" />
	    </div>
	    <a href="#0" class="ph2 ph0-ns pb3 link db">
	      <h3 class="f5 f4-ns mb0 black-90">自言自语（下）</h3>
	      <h3 class="f6 f5 fw4 mt2 black-60">杨乐</h3>
	    </a>
	  </article>
	  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
	    <div class="aspect-ratio aspect-ratio--1x1">
	      <img style="background-image:url(http://splitmusic.cn/collections/img/尹冲RapaciouzC%26Da%20Hao%20%E2%80%8E–%20壹-动物凶猛.jpg);" 
	      class="db bg-center cover aspect-ratio--object" />
	    </div>
	    <a href="#0" class="ph2 ph0-ns pb3 link db">
	      <h3 class="f5 f4-ns mb0 black-90">壹-动物凶猛</h3>
	      <h3 class="f6 f5 fw4 mt2 black-60">尹冲RapaciouzC&Da Hao</h3>
	    </a>
	  </article>
	  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
	    <div class="aspect-ratio aspect-ratio--1x1">
	      <img style="background-image:url(http://splitmusic.cn/collections/img/苏紫旭%26The%20Paramecia%20%E2%80%8E–%20飞出迷楼.jpg);" 
	      class="db bg-center cover aspect-ratio--object" />
	    </div>
	    <a href="#0" class="ph2 ph0-ns pb3 link db">
	      <h3 class="f5 f4-ns mb0 black-90">飞出迷楼</h3>
	      <h3 class="f6 f5 fw4 mt2 black-60">苏紫旭&The Paramecia</h3>
	    </a>
	  </article>
	  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
	    <div class="aspect-ratio aspect-ratio--1x1">
	      <img style="background-image:url(http://splitmusic.cn/collections/img/Japanese%20Breakfast%20%E2%80%8E–%20Soft%20Sounds%20From%20Another%20Planet.jpg);" 
	      class="db bg-center cover aspect-ratio--object" />
	    </div>
	    <a href="#0" class="ph2 ph0-ns pb3 link db">
	      <h3 class="f5 f4-ns mb0 black-90">Soft Sounds From Another Planet</h3>
	      <h3 class="f6 f5 fw4 mt2 black-60">Japanese Breakfast</h3>
	    </a>
	  </article>
	  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
	    <div class="aspect-ratio aspect-ratio--1x1">
	      <img style="background-image:url(http://splitmusic.cn/collections/img/Lorde%20%E2%80%8E–%20Melodrama.jpg);" 
	      class="db bg-center cover aspect-ratio--object" />
	    </div>
	    <a href="#0" class="ph2 ph0-ns pb3 link db">
	      <h3 class="f5 f4-ns mb0 black-90">Melodrama</h3>
	      <h3 class="f6 f5 fw4 mt2 black-60">Lorde</h3>
	    </a>
	  </article>
	  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
	    <div class="aspect-ratio aspect-ratio--1x1">
	      <img style="background-image:url(http://splitmusic.cn/collections/img/窦靖童%20%E2%80%8E–%20Kids%20Only.jpg);" 
	      class="db bg-center cover aspect-ratio--object" />
	    </div>
	    <a href="#0" class="ph2 ph0-ns pb3 link db">
	      <h3 class="f5 f4-ns mb0 black-90">Kids Only</h3>
	      <h3 class="f6 f5 fw4 mt2 black-60">窦靖童</h3>
	    </a>
	  </article>
	  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
	    <div class="aspect-ratio aspect-ratio--1x1">
	      <img style="background-image:url(http://splitmusic.cn/collections/img/水曜日のカンパネラ%20%E2%80%8E–%20Superman.jpg);" 
	      class="db bg-center cover aspect-ratio--object" />
	    </div>
	    <a href="#0" class="ph2 ph0-ns pb3 link db">
	      <h3 class="f5 f4-ns mb0 black-90">Superman</h3>
	      <h3 class="f6 f5 fw4 mt2 black-60">水曜日のカンパネラ</h3>
	    </a>
	  </article>
	  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
	    <div class="aspect-ratio aspect-ratio--1x1">
	      <img style="background-image:url(http://splitmusic.cn/collections/img/LCD%20Soundsystem%20%E2%80%8E–%20American%20Dream.jpg);" 
	      class="db bg-center cover aspect-ratio--object" />
	    </div>
	    <a href="#0" class="ph2 ph0-ns pb3 link db">
	      <h3 class="f5 f4-ns mb0 black-90">American Dream</h3>
	      <h3 class="f6 f5 fw4 mt2 black-60">LCD Soundsystem</h3>
	    </a>
	  </article>
	  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
	    <div class="aspect-ratio aspect-ratio--1x1">
	      <img style="background-image:url(http://splitmusic.cn/collections/img/The%20National%20%E2%80%8E–%20Sleep%20Well%20Beast.jpg);" 
	      class="db bg-center cover aspect-ratio--object" />
	    </div>
	    <a href="#0" class="ph2 ph0-ns pb3 link db">
	      <h3 class="f5 f4-ns mb0 black-90">Sleep Well Beast</h3>
	      <h3 class="f6 f5 fw4 mt2 black-60">The National</h3>
	    </a>
	  </article>
	  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
	    <div class="aspect-ratio aspect-ratio--1x1">
	      <img style="background-image:url(http://splitmusic.cn/collections/img/The%20War%20On%20Drugs%20%E2%80%8E–%20A%20Deeper%20Understanding.jpg);" 
	      class="db bg-center cover aspect-ratio--object" />
	    </div>
	    <a href="#0" class="ph2 ph0-ns pb3 link db">
	      <h3 class="f5 f4-ns mb0 black-90">A Deeper Understanding</h3>
	      <h3 class="f6 f5 fw4 mt2 black-60">The War On Drugs</h3>
	    </a>
	  </article>
	  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
	    <div class="aspect-ratio aspect-ratio--1x1">
	      <img style="background-image:url(http://splitmusic.cn/collections/img/Sampha%20%E2%80%8E–%20Process.jpg);" 
	      class="db bg-center cover aspect-ratio--object" />
	    </div>
	    <a href="#0" class="ph2 ph0-ns pb3 link db">
	      <h3 class="f5 f4-ns mb0 black-90">Process</h3>
	      <h3 class="f6 f5 fw4 mt2 black-60">Sampha</h3>
	    </a>
	  </article>
	  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
	    <div class="aspect-ratio aspect-ratio--1x1">
	      <img style="background-image:url(http://splitmusic.cn/collections/img/Courtney%20Barnett%26Kurt%20Vile%20%E2%80%8E–%20Lotta%20Sea%20Lice.jpg);" 
	      class="db bg-center cover aspect-ratio--object" />
	    </div>
	    <a href="#0" class="ph2 ph0-ns pb3 link db">
	      <h3 class="f5 f4-ns mb0 black-90">Lotta Sea Lice</h3>
	      <h3 class="f6 f5 fw4 mt2 black-60">Courtney Barnett&Kurt Vile</h3>
	    </a>
	  </article>
	  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
	    <div class="aspect-ratio aspect-ratio--1x1">
	      <img style="background-image:url(http://splitmusic.cn/collections/img/St.Vincent%20%E2%80%8E–%20Masseduction%20.jpg);" 
	      class="db bg-center cover aspect-ratio--object" />
	    </div>
	    <a href="#0" class="ph2 ph0-ns pb3 link db">
	      <h3 class="f5 f4-ns mb0 black-90">Masseduction</h3>
	      <h3 class="f6 f5 fw4 mt2 black-60">St.Vincent</h3>
	    </a>
	  </article>
	</section>
</div>
