---
title: Wall
layout: default
description: 
header-img: "img/tag-bg.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="wall">
	<section class="cf w-100 pa2-ns">
	  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
	    <div class="aspect-ratio aspect-ratio--1x1">
	      <img style="background-image:url(http://splitmusic.cn/collections/img/Mount%20Kimbie%20%E2%80%8E–%20Love%20What%20Survives.jpg);" 
	      class="db bg-center cover aspect-ratio--object" />
	    </div>
	    <a href="#0" class="ph2 ph0-ns pb3 link db">
	      <h3 class="f5 f4-ns mb0 black-90">Love What Survives</h3>
	      <h3 class="f6 f5 fw4 mt2 black-60">Mount Kimbie</h3>
	    </a>
	  </article>
	  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
	    <div class="aspect-ratio aspect-ratio--1x1">
	      <img style="background-image:url(http://splitmusic.cn/collections/img/Brockhampton%20%E2%80%8E–%20Saturation%20III.jpg);" 
	      class="db bg-center cover aspect-ratio--object" />
	    </div>
	    <a href="#0" class="ph2 ph0-ns pb3 link db">
	      <h3 class="f5 f4-ns mb0 black-90">Saturation III</h3>
	      <h3 class="f6 f5 fw4 mt2 black-60">Brockhampton</h3>
	    </a>
	  </article>
	  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
	    <div class="aspect-ratio aspect-ratio--1x1">
	      <img style="background-image:url(http://splitmusic.cn/collections/img/Brockhampton%20%E2%80%8E–%20Saturation%20II.jpg);" 
	      class="db bg-center cover aspect-ratio--object" />
	    </div>
	    <a href="#0" class="ph2 ph0-ns pb3 link db">
	      <h3 class="f5 f4-ns mb0 black-90">Saturation II</h3>
	      <h3 class="f6 f5 fw4 mt2 black-60">Brockhampton</h3>
	    </a>
	  </article>
	  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
	    <div class="aspect-ratio aspect-ratio--1x1">
	      <img style="background-image:url(http://mrmrs.github.io/images/0004.jpg);" 
	      class="db bg-center cover aspect-ratio--object" />
	    </div>
	    <a href="#0" class="ph2 ph0-ns pb3 link db">
	      <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
	      <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
	    </a>
	  </article>
	  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
	    <div class="aspect-ratio aspect-ratio--1x1">
	      <img style="background-image:url(http://mrmrs.github.io/images/0007.jpg);" 
	      class="db bg-center cover aspect-ratio--object" />
	    </div>
	    <a href="#0" class="ph2 ph0-ns pb3 link db">
	      <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
	      <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
	    </a>
	  </article>
	  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
	    <div class="aspect-ratio aspect-ratio--1x1">
	      <img style="background-image:url(http://mrmrs.github.io/images/0008.jpg);" 
	      class="db bg-center cover aspect-ratio--object" />
	    </div>
	    <a href="#0" class="ph2 ph0-ns pb3 link db">
	      <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
	      <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
	    </a>
	  </article>
	  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
	    <div class="aspect-ratio aspect-ratio--1x1">
	      <img style="background-image:url(http://mrmrs.github.io/images/0009.jpg);" 
	      class="db bg-center cover aspect-ratio--object" />
	    </div>
	    <a href="#0" class="ph2 ph0-ns pb3 link db">
	      <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
	      <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
	    </a>
	  </article>
	  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
	    <div class="aspect-ratio aspect-ratio--1x1">
	      <img style="background-image:url(http://mrmrs.github.io/images/0010.jpg);" 
	      class="db bg-center cover aspect-ratio--object" />
	    </div>
	    <a href="#0" class="ph2 ph0-ns pb3 link db">
	      <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
	      <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
	    </a>
	  </article>
	  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
	    <div class="aspect-ratio aspect-ratio--1x1">
	      <img style="background-image:url(http://mrmrs.github.io/images/0011.jpg);" 
	      class="db bg-center cover aspect-ratio--object" />
	    </div>
	    <a href="#0" class="ph2 ph0-ns pb3 link db">
	      <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
	      <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
	    </a>
	  </article>
	  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
	    <div class="aspect-ratio aspect-ratio--1x1">
	      <img style="background-image:url(http://mrmrs.github.io/images/0012.jpg);" 
	      class="db bg-center cover aspect-ratio--object" />
	    </div>
	    <a href="#0" class="ph2 ph0-ns pb3 link db">
	      <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
	      <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
	    </a>
	  </article>
	  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
	    <div class="aspect-ratio aspect-ratio--1x1">
	      <img style="background-image:url(http://mrmrs.github.io/images/0013.jpg);" 
	      class="db bg-center cover aspect-ratio--object" />
	    </div>
	    <a href="#0" class="ph2 ph0-ns pb3 link db">
	      <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
	      <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
	    </a>
	  </article>
	  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
	    <div class="aspect-ratio aspect-ratio--1x1">
	      <img style="background-image:url(http://mrmrs.github.io/images/0014.jpg);" 
	      class="db bg-center cover aspect-ratio--object" />
	    </div>
	    <a href="#0" class="ph2 ph0-ns pb3 link db">
	      <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
	      <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
	    </a>
	  </article>
	  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
	    <div class="aspect-ratio aspect-ratio--1x1">
	      <img style="background-image:url(http://mrmrs.github.io/images/0015.jpg);" 
	      class="db bg-center cover aspect-ratio--object" />
	    </div>
	    <a href="#0" class="ph2 ph0-ns pb3 link db">
	      <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
	      <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
	    </a>
	  </article>
	  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
	    <div class="aspect-ratio aspect-ratio--1x1">
	      <img style="background-image:url(http://mrmrs.github.io/images/0016.jpg);" 
	      class="db bg-center cover aspect-ratio--object" />
	    </div>
	    <a href="#0" class="ph2 ph0-ns pb3 link db">
	      <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
	      <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
	    </a>
	  </article>
	  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
	    <div class="aspect-ratio aspect-ratio--1x1">
	      <img style="background-image:url(http://mrmrs.github.io/images/0017.jpg);" 
	      class="db bg-center cover aspect-ratio--object" />
	    </div>
	    <a href="#0" class="ph2 ph0-ns pb3 link db">
	      <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
	      <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
	    </a>
	  </article>
	  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
	    <div class="aspect-ratio aspect-ratio--1x1">
	      <img style="background-image:url(http://mrmrs.github.io/images/0018.jpg);" 
	      class="db bg-center cover aspect-ratio--object" />
	    </div>
	    <a href="#0" class="ph2 ph0-ns pb3 link db">
	      <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
	      <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
	    </a>
	  </article>
	  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
	    <div class="aspect-ratio aspect-ratio--1x1">
	      <img style="background-image:url(http://mrmrs.github.io/images/0019.jpg);" 
	      class="db bg-center cover aspect-ratio--object" />
	    </div>
	    <a href="#0" class="ph2 ph0-ns pb3 link db">
	      <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
	      <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
	    </a>
	  </article>
	  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
	    <div class="aspect-ratio aspect-ratio--1x1">
	      <img style="background-image:url(http://mrmrs.github.io/images/0020.jpg);" 
	      class="db bg-center cover aspect-ratio--object" />
	    </div>
	    <a href="#0" class="ph2 ph0-ns pb3 link db">
	      <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
	      <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
	    </a>
	  </article>
	  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
	    <div class="aspect-ratio aspect-ratio--1x1">
	      <img style="background-image:url(http://mrmrs.github.io/images/0021.jpg);" 
	      class="db bg-center cover aspect-ratio--object" />
	    </div>
	    <a href="#0" class="ph2 ph0-ns pb3 link db">
	      <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
	      <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
	    </a>
	  </article>
	  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
	    <div class="aspect-ratio aspect-ratio--1x1">
	      <img style="background-image:url(http://mrmrs.github.io/images/0022.jpg);" 
	      class="db bg-center cover aspect-ratio--object" />
	    </div>
	    <a href="#0" class="ph2 ph0-ns pb3 link db">
	      <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
	      <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
	    </a>
	  </article>
	</section>
</div>
